@use '../variables' as v;
@use 'sass:map';

.col {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.textarea {
  --input-font-size: 1em;
  --input-border-radius: 6px;
  --input-height: 2.5em;

  font-size: var(--input-font-size);
  padding: .5em .7em;
  border-radius: var(--input-border-radius);

  border: 1px solid rgba(255, 255, 255, 0.16);
  background: inherit;
  outline: transparent solid 2px;
  outline-offset: 2px;
  resize: none;

  transition-property: border-color;
  transition-duration: .2s;

  &:focus-visible {
    border-color: rgb(99, 179, 237);
  }
}
