:global(.chakra-tabs:has([role='tablist'])) {
  flex-direction: column;
  gap: 1rem;
}

#bttvFfzHelper {
  width: 100%;
  background: var(--panel-background);

  display: flex;
  flex-direction: column;
}

#bttvFfzHelper.bttv {
  padding: 1rem;
  border-radius: var(--border-radius);
}

#bttvFfzHelper.ffz {
  font-size: 14px;
}

.bttv {
  --border-radius: .5rem;
  --panel-background: var(--chakra-colors-whiteAlpha-50);
  --panel-title-color: var(--chakra-colors-whiteAlpha-600);
  --panel-inner-border-color: var(--chakra-colors-whiteAlpha-300);
  --panel-inner-border-width: 2px;
  --panel-inner-border-padding: 3px;
  --card-background: var(--chakra-colors-whiteAlpha-100);
  --card-font-size: .9em;
}

.ffz {
  --border-radius: .5rem;
  --panel-background: #303030;
  --panel-inner-border-color: #555555;
  --panel-inner-border-width: 1px;
  --panel-inner-border-padding: 2px;
  --card-background: #464545;
  --card-font-size: 1em;
}

.title {
  font-size: .7em;
  text-transform: uppercase;
  color: var(--panel-title-color, var(--chakra-colors-whiteAlpha-600));
}

.emotesPairContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.panelContent {
  flex-grow: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.ffzDetails {
  padding: 0 1.5rem;

  &:last-child {
    margin-bottom: 1rem;
  }
}

.textarea {
  --input-font-size: var(--chakra-fontSizes-md);
  --input-padding: var(--chakra-space-4);
  --input-border-radius: var(--chakra-radii-md);
  --input-height: var(--chakra-sizes-10);

  font-size: var(--input-font-size);
  padding-inline-start: var(--input-padding);
  padding-inline-end: var(--input-padding);
  padding-top: var(--chakra-space-2);
  padding-bottom: var(--chakra-space-2);
  border-radius: var(--input-border-radius);

  border: 1px solid rgba(255, 255, 255, 0.16);
  background: inherit;
  outline: transparent solid 2px;
  outline-offset: 2px;
  resize: none;

  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);

  &:focus-visible {
    border-color: rgb(99, 179, 237);
    box-shadow: rgb(99, 179, 237) 0 0 0 1px;
  }
}

.checkbox {
  position: relative;
  display: grid;
  grid: {
    template: {
      columns: auto 1fr;
      rows: auto auto;
    }
    //noinspection CssInvalidPropertyValue
    gap: 0 .5rem;
  }
  align-items: center;
  cursor: pointer;

  input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }

  .control {
    grid-row: span 2;
    user-select: none;
    --checkbox-size: var(--chakra-sizes-4);
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    transition: box-shadow var(--chakra-transition-duration-normal) linear;
    border: 2px solid;
    border-color: inherit;
    border-radius: var(--chakra-radii-sm);
    color: var(--chakra-colors-white);

    &.checked {
      background: var(--chakra-colors-blue-200);
      border-color: var(--chakra-colors-blue-200);
      color: var(--chakra-colors-gray-900);
    }

    svg {
      animation: 200ms linear animation-y8j1dl both;
      transition: transform var(--chakra-transition-duration-normal) linear;
      font-size: var(--chakra-fontSizes-2xs);
      width: 1.2em;
    }

    @keyframes animation-y8j1dl {
      from {
        opacity: 0;
        stroke-dashoffset: 100%;
        transform: scale(1);
      }

      to {
        opacity: 1;
        stroke-dashoffset: 0;
        transform: scale(1);
      }
    }
  }

  .label {
    user-select: none;
    font-size: var(--chakra-fontSizes-md);
  }

  .hint {
    font-size: .7em;
    color: var(--panel-title-color);
  }
}
