@use 'sass:map';
@use '../variables' as v;

:global(.chakra-tabs:has([role='tablist'])) {
  flex-direction: column;
  gap: 1rem;
}

#bttvFfzHelper {
  width: 100%;
  background: var(--panel-background);

  display: flex;
  flex-direction: column;
}

#bttvFfzHelper.bttv {
  padding: 1rem;
  border-radius: var(--border-radius);
}

#bttvFfzHelper.ffz {
  font-size: 14px;
  $padding: 15px;
  padding: 0 $padding $padding;

  .title {
    position: relative;
    left: -$padding;
    width: calc(100% + #{$padding} * 2);
  }

  .addButton {
    margin-top: 16px;
  }
}

.bttv {
  --border-radius: .5rem;
  --panel-background: #{v.color(whiteAlpha, 100)};
  --panel-title-color: #{v.color(whiteAlpha, 600)};
  --panel-inner-border-color: #{v.color(whiteAlpha, 300)};
  --panel-inner-border-width: 2px;
  --panel-inner-border-padding: 3px;
  --card-background: #{v.color(whiteAlpha, 100)};
  --card-font-size: .9em;

  .title {
    font-size: .7em;
    text-transform: uppercase;
    color: #{v.color(whiteAlpha, 600)};
  }
}

.ffz {
  --border-radius: .5rem;
  --panel-background: #303030;
  --panel-inner-border-color: #555555;
  --panel-inner-border-width: 1px;
  --panel-inner-border-padding: 2px;
  --card-background: #464545;
  --card-font-size: 1em;
}

.heading {
  margin-top: 1rem;
  font-weight: 600;
}

.checkbox {
  margin-top: .3rem;
  font-size: 14px;

  :nth-child(4) {
    font-size: .75em !important; // sowwyy
  }
}

.small {
  margin: 8px 0;
  opacity: .7;
}

.emotesPairContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.details {
  small {
    display: inline-block; // to apply the line-height
    opacity: .7;
  }
}

.ffzDetails {
  &:last-child {
    margin-bottom: 1rem;
  }
}

.seasonalList {
  font-size: 14px;

  li {
    padding: .5rem 0 0 !important;

    > span {
      font-weight: 400 !important;
    }
  }

  + .addButton {
    margin-top: .5rem;
  }
}
