@use 'sass:color';
@use 'sass:map';
@use '../variables' as v;

.visCatcher {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  visibility: hidden;
  pointer-events: none;
}

:global(#emote-form .emote-name) {
  position: relative;
}

.usage {
  &.bttv {
    position: absolute;
    $margin: .3rem;
    right: $margin;
    bottom: $margin;
  }

  &.ffz {
    position: relative;
    float: right;
    margin-right: 4px;
  }

  font-size: 14px;
  color: color.adjust(white, $alpha: -.2);
  $size: 1.6em;
  height: $size;
  min-width: $size;
  line-height: 1;
  text-align: center;

  border-radius: var(--chakra-radii-md, 6px);
  $border-width: 2px;
  border: $border-width solid transparent;
  background-size: calc(100% + $border-width * 2) calc(100% + $border-width * 2);
  background-position: -#{$border-width} -#{$border-width};

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.loading {
    width: $size;
    animation: pulse 1s infinite alternate both ease-in-out;

    @for $i from 1 through 10 {
      a:nth-child(#{$i}n) & {
        animation-delay: #{($i * .1) - 1}s;
      }
    }

    @keyframes pulse {
      from {
        background-color: color.adjust(white, $alpha: -.8)
      }
      to {
        background-color: color.adjust(white, $alpha: -.9)
      }
    }
  }

  &.noUse {
    background: transparent;
    border-color: color.adjust(white, $alpha: -.9);
    color: color.adjust(white, $alpha: -.5);
  }

  @function chakra-gradient($color) {
    @return linear-gradient(
            to bottom right,
            v.color($color, 500),
            v.color($color, 800)
    )
  }

  &.lowUse {
    background-image: chakra-gradient(gray);
  }

  &.avgUse {
    background-image: chakra-gradient(blue);
  }

  &.highUse {
    background-image: chakra-gradient(purple);
  }

  .tooltip {
    bottom: -.4rem;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
}

.dnr {
  &.bttv {
    position: absolute;
    $margin: .5rem;
    right: $margin;
    top: $margin;
  }

  &.ffz {
    position: relative;
    float: right;
    margin: .1em 8px;
  }

  display: inline-block;

  $size: 1.2em;
  height: $size;
  width: $size;

  color: color.adjust(white, $alpha: -.5);

  .tooltip {
    font-size: 14px;
    top: -.4rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }
}
