@use 'sass:color';
@use 'sass:map';
@use '../variables' as v;

.visCatcher {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  visibility: hidden;
  pointer-events: none;
}

:global(#emote-form .emote-name) {
  position: relative;
}

.usage {
  &.bttv {
    position: absolute;
    $margin: .3rem;
    right: $margin;
    bottom: $margin;
  }

  &.ffz {
    position: relative;
    float: right;
    margin-right: 4px;
  }

  font-size: 14px;
  color: color.adjust(white, $alpha: -.2);
  $size: 1.6em;
  height: $size;
  min-width: $size;
  line-height: 1;
  text-align: center;

  border-radius: var(--chakra-radii-md, 6px);
  $border-width: 2px;
  border: $border-width solid transparent;
  background-size: calc(100% + $border-width * 2) calc(100% + $border-width * 2);
  background-position: -#{$border-width} -#{$border-width};

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.loading {
    width: $size;
    animation: pulse 1s infinite alternate both ease-in-out;

    @for $i from 1 through 10 {
      a:nth-child(#{$i}n) & {
        animation-delay: #{($i * .1) - 1}s;
      }
    }

    @keyframes pulse {
      from {
        background-color: color.adjust(white, $alpha: -.8)
      }
      to {
        background-color: color.adjust(white, $alpha: -.9)
      }
    }
  }

  &.noUse {
    background: transparent;
    border-color: color.adjust(white, $alpha: -.9);
    color: color.adjust(white, $alpha: -.5);
  }

  @function chakra-gradient($color) {
    @return linear-gradient(
            to bottom right,
            map.get(map.get(v.$chakra2-colors, $color), 500),
            map.get(map.get(v.$chakra2-colors, $color), 800)
    )
  }

  &.lowUse {
    background-image: chakra-gradient(gray);
  }

  &.avgUse {
    background-image: chakra-gradient(blue);
  }

  &.highUse {
    background-image: chakra-gradient(purple);
  }

  .tooltip {
    bottom: -.4rem;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.tooltip {
  position: absolute;
  padding: .1rem .5rem;

  background: color.adjust(white, $alpha: -.2);
  backdrop-filter: blur(5px);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  font-size: 1em;
  color: black;
  line-height: 1.4;
  text-wrap: nowrap;
  border-radius: var(--chakra-radii-md, 6px);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;

  z-index: 2;
}

.dnr {
  &.bttv {
    position: absolute;
    $margin: .5rem;
    right: $margin;
    bottom: $margin;
  }

  &.ffz {
    position: relative;
    float: right;
    margin: .1em 8px;
  }

  display: inline-block;

  $size: 1.2em;
  height: $size;
  width: $size;

  color: color.adjust(white, $alpha: -.5);

  .tooltip {
    top: -.4rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}
