@use '../../variables' as v;
@use 'sass:map';

.segmented {
  $padding: 3px;
  $border-rad-pad: 3px;
  width: 100%;
  padding: $padding;
  box-sizing: border-box;

  border-radius: calc(var(--chakra-radii-md, 6px) + #{$border-rad-pad});
  background: v.color(whiteAlpha, 50);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .label {
    height: 24px;
    margin: 0;

    border-radius: calc(var(--chakra-radii-md, 6px) - #{$padding} + #{$border-rad-pad});

    display: flex;
    align-items: center;
    justify-content: center;

    &:has(:checked) {
      background: v.color(whiteAlpha, 200);
    }

    input {
      display: none;
    }
  }
}

.applyItem {
  position: relative;
  margin-top: .5rem;
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  grid-column-gap: 1em;
  align-items: center;
  justify-items: center;

  .check {
    margin-inline-start: .5rem;
    margin-bottom: 0;
  }

  .emote {
    width: 100%;
    max-width: initial;
    border-radius: var(--chakra-radii-md, 6px);
    background: v.color(blackAlpha, 400);
    cursor: default;
    pointer-events: none;

    &.missing {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: v.color(orange, 500);
        border-radius: var(--chakra-radii-md, 6px);
        opacity: .1;
        z-index: -1;
      }

      &:after {
        content: 'Not in channel';
        position: absolute;
        bottom: -1px;
        left: -1px;
        padding: 0 .4em;

        background: v.color(orange, 600);
        border-radius: 0 calc(var(--chakra-radii-md, 6px));
        color: v.color(gray, 800);
        font-size: 0.6em;
        font-weight: 600;
        text-transform: uppercase;
      }

      border: 1px solid v.color(orange, 800);
      border-radius: var(--chakra-radii-md, 6px);
    }
  }

  .arrow {
    position: relative;
    opacity: .8;
    color: #fff;

    > * {
      display: block;
    }

    .scale {
      scale: 1.3;
    }

    .sub {
      transform: scale(.7) translate(.7em, .4em);
      //border-radius: 50%;
      //background: var(--modal-background);
      stroke-width: 20;
      stroke: currentColor;

      &.asShadow {
        stroke-width: 120;
        stroke: var(--modal-background);
      }
    }

    &:has(:nth-child(2)) {
      > :first-child {
        opacity: .6;
      }
    }

    :not(:first-child) {
      position: absolute;
      top: 0;
    }
  }
}

.progress {
  appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  background-color: v.color(whiteAlpha, 200);
  border: none;
  overflow: hidden;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: v.color(blue, 300);
  }

  &::-moz-progress-bar {
    background-color: v.color(blue, 300);
  }
}

.error {
  color: v.color(red, 400);
}
