.col {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  &.ffz {
    margin-top: 2em;
  }
}

.head {
  display: flex;
  justify-content: space-between;
}

.emoteRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  gap: 20px;

  &.halfWidth, &.ffz {
    grid-template-columns: repeat(2, 1fr);
  }

  .twoWide {
    grid-column: span 2;
  }
}

.subHeader {
  font-size: .9rem;
  color: var(--panel-title-color);
}

.ffzSubHeader {
  font-size: 1.2rem;
  opacity: .5;
  margin-bottom: 0;
}

div.emoteList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: .7rem;
}

.ffzDivider {
  margin: 1rem 0;
}
