@font-face {
  font-family: 'Sofia Sans Condensed';
  src: url('../fonts/SofiaSansCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.emoteUsagePanel {
  .usageNumber {
    font-size: 2em;
  }

  .usageLabel {
    font-size: 0.7em;
    color: var(--panel-title-color);
  }

  min-height: 14em;

  .sectionChart {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .chartWrapper {
    flex-grow: 1;
    font-feature-settings: "ss02";
    letter-spacing: -.01em;
  }
}
