@use 'variables' as v;
@use 'sass:map';

.emotesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;

  border: var(--panel-inner-border-width) solid var(--panel-inner-border-color);
  border-radius: calc(var(--border-radius) + var(--panel-inner-border-padding) + var(--panel-inner-border-width));
  padding: var(--panel-inner-border-padding);
}

.emoteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .2rem;
  padding: .5rem .2rem;
  border-radius: var(--border-radius);
  background: var(--card-background);
  max-width: 125px;

  &.morePadding {
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  &.hideContents {
    content-visibility: hidden;
  }

  div:is(&) {
    transform: scale(1);
    transition: transform .1s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(.98);
    }
  }
}

.emoteImage {
  height: 1.5em;
  max-width: 100%;
}

.emoteName {
  font-size: var(--card-font-size);
  text-align: center;
  text-overflow: clip;
}

.emoteProviderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4em;

  .globalTag {
    font-size: .8em;
  }
}

.emoteProvider {
  height: 1em;
  width: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.emoteProvider.bttv {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><path fill="transparent" d="M249.771 150A99.771 99.922 0 0 1 150 249.922 99.771 99.922 0 0 1 50.229 150 99.771 99.922 0 0 1 150 50.078 99.771 99.922 0 0 1 249.771 150Z"></path><path fill="rgb(213, 0, 20)" d="M150 1.74C68.409 1.74 1.74 68.41 1.74 150S68.41 298.26 150 298.26h148.26V150.17h-.004c0-.057.004-.113.004-.17C298.26 68.409 231.59 1.74 150 1.74zm0 49c55.11 0 99.26 44.15 99.26 99.26 0 55.11-44.15 99.26-99.26 99.26-55.11 0-99.26-44.15-99.26-99.26 0-55.11 44.15-99.26 99.26-99.26z"></path><path fill="rgb(213, 0, 20)" d="M161.388 70.076c-10.662 0-19.42 7.866-19.42 17.67 0 9.803 8.758 17.67 19.42 17.67 10.662 0 19.42-7.867 19.42-17.67 0-9.804-8.758-17.67-19.42-17.67zm45.346 24.554-.02.022-.004.002c-5.402 2.771-11.53 6.895-18.224 11.978l-.002.002-.004.002c-25.943 19.766-60.027 54.218-80.344 80.33h-.072l-1.352 1.768c-5.114 6.69-9.267 12.762-12.098 18.006l-.082.082.022.021v.002l.004.002.174.176.052-.053.102.053-.07.072c30.826 30.537 81.213 30.431 111.918-.273 30.783-30.784 30.8-81.352.04-112.152l-.005-.004zM87.837 142.216c-9.803 0-17.67 8.758-17.67 19.42 0 10.662 7.867 19.42 17.67 19.42 9.804 0 17.67-8.758 17.67-19.42 0-10.662-7.866-19.42-17.67-19.42z"></path></svg>');
}

.emoteProvider.ffz {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAeCAYAAABe3VzdAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTFEMzQxREZDNUM5MTFFMzhCRURDNDY3QzIxRDY2ODciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTFEMzQxRTBDNUM5MTFFMzhCRURDNDY3QzIxRDY2ODciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBMUQzNDFEREM1QzkxMUUzOEJFREM0NjdDMjFENjY4NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBMUQzNDFERUM1QzkxMUUzOEJFREM0NjdDMjFENjY4NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkLJna0AAAJRSURBVHjazJhPSBRRHMdn112NtJSkPRhqGatmdAgK+gOCROXFSwVWBy3xEBQJHiK8eBeKwNAuQV06FBJCgXSJwLp0LSLBqCQpggj8Q4Y4fV78Fh4yb2b3vdHdL3yY2Z3f/Pa7M++9+f0m4fu+56hLcBNS8vkPPIURWHBN7imDlqThlm/WOzjlkP8/LuYm/GjNQpWLwaTlhb8DZ/KIa4KLLnc4YTEGT8NUAfEzcMh2PNpcwc4C45vhiu0VtDG4ZnHOVaiJw2AGOuAE7DSc89fidxqhN+D7cuiBYajPZ5l5ps3Ar9AZMLMe+nb6BLXrct3Tjr+BmrBlpi8g6U9o1GIGfTcNaLm6A45PQirI4A74Ykjao53w0tHge9giuV4bYm4HrYPnoMEwfqq0/bTjg6sN2mEPHDHEXIOj+iRJQF9I0l+yVZOmznOXmtG1ISuIugiDusH9spCaNC/bR/LPXXUQtsJKSMzJ3KxWBg9AmSFwGWZht9yaOFQBS7AYElMNXTmDx0ICX8E3WWTTMRlUa20W3kbEXcgZzIYEzUGLFAcJLz7dgNWImMPKmyoWPrDTaghaEWPlXnF0ORUxFiq84uq4usXTXumqKSn9xPMSNTiVe6RUwhO/tDQCSb1YSMJoCRhbk6LE2DQNFdHcd+jKp6s7Cz822ZwqtXYV0nZm4MEmGJuHXpe++Dq8gPNw19HMZ/go+wuSLxN3466q4uUCjS3CsKwWin7IbuSbhb0wDksRxn7DGLTavlmwadx17ZOurE6K0O2wTV4kPYb7Wj1ppX8CDACiyHIampRAYAAAAABJRU5ErkJggg==');
}

.check {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;

  color: v.color(gray, 800);
  background-color: v.color(blue, 300);
  border-radius: 50%;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
