$twitchDarker: #5c16c5;
$twitchDark: #772ce8;
$twitch: #9146ff;

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1.4em;

  &.compact {
    padding-bottom: 0;
  }

  &.inline {
    padding-bottom: 0;
    .notice {
      text-align: left;
      font-size: .8em;
      max-width: initial;
    }
  }
}

.notice {
  font-size: 15px;
  color: var(--panel-title-color);
  text-align: center;
  max-width: 28ch;
  margin: 0 auto;

  em {
    position: relative;
    right: .1em;
  }

  .info {
    position: relative;
    display: inline-block;
    vertical-align: top;

    .icon {
      height: 1.4em;
      margin: 0 .3em;
    }

    .tooltip {
      position: absolute;
      top: -.4em;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      padding: .5em .8em;
      width: 26ch;
      text-wrap: balance;
      text-align: left;
      pointer-events: none;
    }

    &:hover .tooltip {
      opacity: 1;
    }
  }
}

.button {
  display: inline-block;
  padding: .3em 1em;
  margin: 0 auto;
  background: $twitch;
  border-radius: var(--chakra-radii-md, 6px);
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: .9em;
  font-weight: 700;

  &:hover {
    background: $twitchDark;
  }

  &:active {
    background: $twitchDarker;
  }

  &.inline {
    margin: 8px 0;
  }
}
