.spinner {
  display: inline-block;
  height: 1em;
  width: 1em;

  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 2;

  transform-origin: center;
  animation: spinner .75s infinite linear;

  @keyframes spinner {
    100% {
      transform: rotate(360deg)
    }
  }
}

.centered {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
