@use 'sass:color';

.tooltip {
  position: absolute;
  padding: .1rem .5rem;

  background: color.adjust(white, $alpha: -.3);
  backdrop-filter: blur(4px);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  font-size: 1em;
  color: black;
  line-height: 1.4;
  text-wrap: nowrap;
  border-radius: var(--chakra-radii-md, 6px);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;

  z-index: 2;
}

.trigger {
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}
